{% extends 'todo/base.html' %}

{% block title %}
    Completed tasks
{% endblock %}


{% block content %}
    <ul class="list-group">
    {% for todo in todos %}
        <li class="list-group-item">
            <a href="{% url 'view_todo' todo.id %}">
                {% if todo.important %}<b>{% endif %}
                {{todo.title}}
                {% if todo.important %}</b>{% endif %}
                {% if todo.memo %}
                    - {{ todo.memo }}
                {% endif %}
                {{todo.completed_time|date:'H:m d.m.Y'}}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}