{% extends 'todo/base.html' %}

{% block title %}
    Active tasks
{% endblock %}


{% block content %}
    <ul class="list-group">
        {% for todo in todos %}
            {% if todo.important %}
                <li class="list-group-item list-group-item-danger">
            {% else %}
                <li class="list-group-item">
            {% endif %}
                <a href="{% url 'view_todo' todo.id %}">
                    {% if todo.important %}<b>{% endif %}
                    {{todo.title}}
                    {% if todo.important %}</b>{% endif %}
                    {% if todo.memo %}
                        - {{ todo.memo }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}