{% extends 'todo/base.html' %}

{% block title %}
    Task
{% endblock %}

{% block content %}

    <h2>{{error}}</h2>

    {{todo.title}}
<br>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
    </form>
<div class="row">
    <form class="custom">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary">Save</button>
    </form>
    <form class="custom" method="POST" action="{% url 'complete_todo' todo.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success">Complete</button>
    </form>
    <form class="custom" method="POST" action="{% url 'delete_todo' todo.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
</div>


{% endblock %}